appdirs==1.4.3
furl==1.0.1
orderedmultidict==0.7.11
packaging==17.1
py==1.5.3
PyJWT==1.6.1
pyparsing==2.2.0
pytest==3.10.1
requests==2.18.4
six==1.11.0
fs>2.0.10
lxml
-e git://github.com/zopyx/zopyx.smashdocs.git#egg=zopyx.smashdocs
