appdirs==1.4.3
furl==2.0.0
orderedmultidict==1.0
packaging==18
PyJWT==1.6.4
pyparsing==2.3.0
pytest==4.0.2
requests==2.20.1
six==1.11.0
fs>2.0.10
lxml==4.2.5
-e git://github.com/zopyx/zopyx.smashdocs.git#egg=zopyx.smashdocs
