body {
    font-family: Sans-Serif;
    font-size: 10pt;
}

.indent-1 {
    margin-left: 2em;
}

.indent-2 {
    margin-left: 4em;
}

.indent-3 {
    margin-left: 6em;
}


ol.indent-0,
ul.indent-0 {
    margin-left: 0.5em;
    padding-left: 0.5em;
}
